body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: white;
  text-align: 50 to left;
}

.header {
  background-color: #e5eaeb;
  padding: 40px 20px;
}

.header-logo {
  width: 150px;
  max-width: 80%;
  margin-bottom: 20px;
}

.clan-button {
  display: inline-block;
  background-color: #111;
  color: white;
  padding: 12px 24px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 30px;
}

.header-castle {
  width: 90%;
  max-width: 600px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
